.services {
  padding-top: 44px;
  padding-bottom: 45px;
}
.work__with {
  font-family: $font-ka;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: $work-with-fz;
  line-height: $work-with-lh;
  text-align: center;
  color: $section-fcolor;
  margin-bottom: 16px;
}
.services__title {
  margin: 0;
  padding: 0;
  font-size: $serv-titl-fz;
  line-height: $serv-titl-lh;
  color: $section-fcolor;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-mo;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 85px;
}
.services__title::after {
  display: block;
  content:'';
  width: 60px;
  height: 3px;
  background-color: $serv-af-bgc;
  margin: auto;
  margin-top: 38px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.services__item {
  -ms-flex-preferred-size: 336px;
      flex-basis: 336px;
  padding-left: 60px;
  position: relative;
}
.services__item:nth-child(-n+3) {
  margin-bottom: 100px;
}
.services__item::before {
  content:'';
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
.icon__clock::before {
  background-image: url(../../../images/background-icons/icon-clock.svg);
}
.icon__graph::before {
  background-image: url(../../../images/background-icons/icon-line.svg);
}
.icon__computer::before {
  background-image: url(../../../images/background-icons/icon-computer.svg);
}
.icon__book::before {
  background-image: url(../../../images/background-icons/icon-book.svg);
}
.icon__house::before {
  background-image: url(../../../images/background-icons/icon-home.svg);
}
.icon__rectang::before {
  background-image: url(../../../images/background-icons/icon-target.svg);
}

.services__item h3 {
  font-family: $font-mo;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $section-fcolor;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
.services__item span {
  font-family: $font-ro;
  font-style: normal;
  font-weight: 400;
  font-size: $serv-span-fz;
  line-height: $serv-span-lh;
  color: $serv-span-col;
}
