html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
body {
    font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 46px;
    margin-bottom: 36px;
}
/*.visually-hidden:not(:focus):not(:active),
    input[type="checkbox"].visually-hidden,
    input[type="radio"].visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;

        clip-path: inset(100%);
        clip: rect(0 0 0 0 );
        overflow: hidden;
    }*/

h1 {
    display: inline-block;
    width: 80px;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h1::first-letter {
    color: #1abc9c;
}
.page-header {
    margin-bottom: 76px;
}
.page-nav {
    padding: 38px 0;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.site-navigation {
    width: 476px;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-navigation a {
    font-size: 14px;
    display: block;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 17px;

}
.site-navigation li {
    float: left;
    padding-top: 8px;
}
.site-navigation li:not(:last-child) {
    margin-right: 32px;
}
.site-navigation a:hover, 
.site-navigation a:focus{
    color: #1abc9c;
}
/*Features section*/
.features {
    margin-bottom: 78px;
}
.features-title {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 58px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
}
.features-title::after {
    display: block;
    content:'';
    width: 164px;
    height: 8px;
    background-color:rgb(26, 188, 156);
    margin: auto;
    margin-top: 36px;
    margin-bottom: 92px;
}
.features-list {
    list-style: none;
    font-size: 0px;
    margin: 0;
    padding: 0;
}
.features-list-item {
    float: left;
    width: 255px;
 
}
.product-name {
    display: inline-block;
    width: 255px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    background-color:#323232;
    color: #ffffff;
    padding-left: 12px;
}
.features-list-item:nth-child(4n+1) .product-name::after {
    display: block;
    content: "\0024 26";
    width: 54px;
    margin-right: 0;
    color: #ffffff;
    background-color: #d4d6da;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    float: right;
}
.features-list-item:nth-child(4n) .product-name::after {
    display: block;
    content: "\0024 56";
    width: 54px;
    margin-right: 0;
    color: #ffffff;
    background-color: #d4d6da;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    float: right;
}
.features-list-item:nth-child(-4n+7) .product-name::after {
    display: block;
    content: "\0024 21";
    width: 54px;
    margin-right: 0;
    color: #ffffff;
    background-color: #d4d6da;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    float: right;
}
.features-list-item:nth-child(-4n+6) .product-name::after {
    display: block;
    content: "\0024 31";
    width: 54px;
    margin-right: 0;
    color: #ffffff;
    background-color: #d4d6da;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    float: right;
}
.features-list-item:hover .product-name::after {
    background-color: rgb(0, 0, 255);
}
.features-list-item:hover .product-name {
    background-color: rgb(0, 0, 255);
}
.features-list-item:not(:nth-child(4n)) {
    margin-right: 30px;;
}
.features-list-item {
    margin-bottom: 30px;
}

/*Latest news*/
.news-title {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 58px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
}
.news-title::after {
    display: block;
    content:'';
    width: 164px;
    height: 8px;
    background-color:rgb(26, 188, 156);
    margin: auto;
    margin-top: 36px;
    margin-bottom: 80px;
}
.team {
    margin-bottom: 120px;
}
.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.team-list-image {
    margin-bottom: 18px;
}
.team-list-name {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    font-weight: 600;
}
.team-list-name::after {
    display: block;
    content:'';
    width: 136px;
    height: 3px;
    background-color:rgb(26, 188, 156);
    margin-top: 18px;
    margin-bottom: 34px;
}
.team-list-item {
    width: 350px;
    float: left;
}
.team-list-item:not(:last-child) {
    margin-right: 30px;;
}
.team-list-occupation {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    margin-bottom: 24px;
}
.button {
    width: 160px;
    height: 51px;
    border: none;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    background-color: rgb(78, 198, 171);
    border-radius: 3px;
    color:#ffffff;
    cursor: pointer;
}
